{% load static %}
{% load crispy_forms_tags %}
{% include 'navbar_customer.html' %}
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="{% static 'css/stylesheet3.css' %}" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
</head>
<center>
	<u><h1>{{title}}</h1></u><br><br>

		<hr><a href="/customer/add_customer"><button class="btn btn-primary btn-lg">Add Customers</button></a>

			<hr><a href="/customer/list_customer"><button class="btn btn-primary btn-lg">List Customers</button></a>

		<hr><a href="/invoice"><button class="btn btn-info btn-lg">Invoice</button></a>
    <hr><a href="/inventory"><div class="btn btn-info btn-lg">Inventory</div></a>

</center>
